//parameters>color

$color-dark: #003978;
$color-light: #DBEBFD;
$color-button-border: #003366;
$color-button-hover:#001f4d;

//parameters>font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
$font-link: "Open Sans", sans-serif;



* {
    box-sizing: border-box;
  }
  
  body{
    font-family: $font-link;
    margin:0;
    padding:0;
  }
  nav {
    width: 100%;
    background-color: #fff;
  }

  
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: $color-light;
  }
  
  .logo img{
    width: 93px;
    height: 56px;
  }
  .menu-icon{
    display: none;
    font-size: 24px;
    cursor: pointer;
  }

  .social{
      display: flex;
      align-items: center;
      gap: 20px;
  }

  .social a{
    text-decoration: none;
    color: $color-dark;
    transition: background-color 0.5s ease;
    padding: 5px;
    border-radius: 16px;
    &hover {
        background-color: $color-dark;
        color:$color-light
    }
  }
  
  .social > ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
  }

  .social > ul > li {
   color:$color-dark;
  }
  
  .vertical{
    color:$color-dark;
  }








  .bot{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 20px;
    background-color: #fff;
  }

  .nav{
    display: flex;
    gap:40px;
    align-items: center;
    font-size: 16px;
  }

  .nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    margin:0;
    padding:0;
  }

  .nav ul li a {
    text-decoration: none;
    color: $color-dark;
    font-weight: 600;
    transition: background-color 0.5s ease;
    padding: 5px 10px;
    border-radius: 16px;
    &:hover {
        background-color: $color-light;
    }
}

.cta {
    display: flex;
    gap: 10px;
}

.button_devis, .button_estim {
    padding: 10px 20px;
    font-family: $font-link;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid $color-button-border; /* Border color */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button_devis {
    background-color: #fff;
    color: $color-button-border;
    &:hover {
        background-color: $color-button-border;
        color: #fff;
    }
}

.button_estim {
    background-color: $color-button-border;
    color: #fff;
    &:hover {
        background-color: $color-button-hover;
        color: #fff;
    }
}

//mobile systems

@media (max-width: 768px) {
    .top {
        justify-content: space-between;
        padding: 10px;
    }
    .logo img{
        width: 40px;
        height: auto;
    }
    .social{
        display: none;
    }
    .menu-icon {
        display: block;

    }
    .bot {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        display: none;
    }
    .cta{
        width: 100%;
        justify-content: space-around;
        margin-top: 10px;
    }
}