@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: auto;
  padding: 0;
}

nav {
  width: 100%;
  background-color: #fff;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #DBEBFD;
}

.logo img {
  width: 93px;
  height: 56px;
}

.menu-icon {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  position: relative;
}
.menu-icon .bar1, .menu-icon .bar2, .menu-icon .bar3 {
  width: 100%;
  height: 4px;
  background-color: #003978;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}
.menu-icon .bar2 {
  margin: 5px 0;
}
.menu-icon.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 8px);
}
.menu-icon.change .bar2 {
  opacity: 0;
}
.menu-icon.change .bar3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.social {
  display: flex;
  align-items: center;
  gap: 20px;
}

.social a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 800;
  color: #003978;
  transition: background-color 0.5s ease;
  padding: 5px;
  border-radius: 16px;
}
.social a:hover {
  background-color: #003978;
  color: #DBEBFD;
}

.social > ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.social > ul > li {
  color: #003978;
}

.vertical {
  color: #003978;
}

.bot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  width: 100vw;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 100px;
  margin: 0;
  padding: 0;
}

.nav ul li a {
  text-decoration: none;
  color: #003978;
  font-weight: 600;
  transition: background-color 0.5s ease;
  padding: 5px 10px;
  border-radius: 1rem;
}
.nav ul li a:hover {
  background-color: #DBEBFD;
}

.cta {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.button_devis, .button_estim {
  flex-grow: 1;
  padding: 10px 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #003366;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button_devis {
  background-color: #fff;
  color: #003366;
}
.button_devis:hover {
  background-color: #003366;
  color: #fff;
}

.button_estim {
  background-color: #003366;
  color: #fff;
}
.button_estim:hover {
  background-color: #001f4d;
  color: #fff;
}

.social_mobile {
  display: none;
}

@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .top {
    display: flex;
    justify-content: center;
    gap: 200px;
    padding: 20px;
    background-color: #fff;
    margin: 10px;
  }
  .logo img {
    width: 20vw;
  }
  .social {
    display: none;
  }
  .menu-icon {
    display: block;
    width: 30px;
    height: 30px;
  }
  .bot {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    display: none;
  }
  .bot.active {
    display: flex;
    gap: 40px;
  }
  .nav ul {
    flex-direction: column;
    align-self: center;
    margin-left: 20px;
    gap: 60px;
  }
  .cta {
    width: 100%;
    justify-content: space-around;
    margin-top: 10px;
  }
  .bot_mobile {
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-color: #DBEBFD;
  }
  .social_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
  }
  .social_mobile a {
    text-decoration: none;
    margin-left: 0;
    color: #003978;
    transition: background-color 0.5s ease;
    padding: 5px;
    border-radius: 16px;
  }
  .social_mobile a:hover {
    background-color: #003978;
    color: #DBEBFD;
  }
  .social_mobile ul {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 25px; /* Espacement entre les éléments */
    margin: 0;
    padding: 0;
  }
  .social_mobile ul li {
    color: #003978;
  }
  hr {
    border: 0;
    height: 1px;
    background-color: #003978;
    width: 100%;
    margin: 20px 0;
  }
}/*# sourceMappingURL=styles.css.map */